<div class="project">
<div class="content_section" v-if="project">
    <div class="left">
        <div class="swiper_section">
            <ProjectSwiper :project="project" :router_id="router_id" ref="swiper"/>
        </div>
        <div class="title_section">
            <div class="text">
                <div class="num" v-if="project">
                    <h2 :style="{color: (project.color || '#fff')}"><span>#</span>{{router_id}}</h2>
                </div>
                <div class="title" v-if="project">
                    <h1><a :href="project.web" target="_blank">{{ $t(`all_projects.${project.short_name}.name`) }}</a></h1>
                    <p>{{ $t(`all_projects.${project.short_name}.short`) }}</p>
                </div>
            </div>

            <div class="links_section" v-if="project.web">
                <a :href="project.github" target="_blank">
                    <div class="github_link">
                        <div class="icon">
                            <img src="../../assets/Nav/github.png" class="w-100">
                        </div>
                    </div>
                </a>
                <a :href="project.web" target="_blank">
                    <div class="web_link">
                        <p>WEB LINK</p>
                        <div class="icon">
                            <img src="../../assets/ProjectIntro/toggle_icon.png" class="h-100">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="right" v-if="project">
        <div class="each_intro" v-if="project.coperate">
            <p class="intro_title">{{ $t(`project_intro.author`) }}</p>
            <p>{{ $t(`all_projects.${project.short_name}.author`) }}</p>
        </div>
        <div class="each_intro" v-if="project.coperate">
            <p class="intro_title">{{ $t(`project_intro.res`) }}</p>
            <p>{{ $t(`all_projects.${project.short_name}.responsible`) }}</p>
        </div>
        <div class="each_intro">
            <div class="tool_list">
                <div v-for="item in project.skill" class="tool_block" :style="{background: (project.color || '#fff')}">{{item}}</div>
            </div>
        </div>
        <div class="each_intro">
            <p class="intro_title">{{ $t(`project_intro.feature`) }}</p>
            <ul>
                <li v-for="(item,index) in project.fea_num">{{ $t(`all_projects.${project.short_name}.feature_${index+1}`) }}</li>
            </ul>
        </div>
        <div class="demo_film" v-if="project.film">
            <a :href="project.film_links[index]" v-for="(item,index) in project.film_num" target="_blank">
                <div class="icon">
                    <img src="../../assets/ProjectIntro/film.png" alt="film" class="h-100">
                </div>
                <p>{{ $tc(`all_projects.${project.short_name}.film`, index+1) }}</p>
            </a>
        </div>
        <div class="info_text">
            <p>{{ $t(`all_projects.${project.short_name}.detial`) }}</p>
        </div>
        <div class="awards" v-if="project.award">
            <div class="each_award" v-for="(item,index) in project.award_type">
                <div class="icon">
                    <img :src="require(`../../assets/project/awards/${item}.png`)" class="w-100">
                </div>
                <p>{{ $tc(`all_projects.${project.short_name}.award`, index+1) }}</p>
            </div>
        </div>
    </div>
</div>
</div>