<div class="footer_section">
    <div class="middle_block">
        <h1 class="title">PORTFOLIO WAREHOUSE</h1>
        <div class="line"></div>
        <div class="links">
            <div class="link_each">
                <a href="#">
                    <p>Home</p>
                </a>
            </div>
            <div class="link_each">
                <a href="#">
                    <p>All Project</p>
                </a>
            </div>
            <div class="link_each">
                <a href="#">
                    <p>About Me</p>
                </a>
            </div>
        </div>
        <div class="infos">
            <div class="info_block">
                <div class="info_icon">
                    <img src="../../assets/FooterSection/mail.png" class="w-100">
                </div>
                <p>amy123chou@gmail.com</p>
            </div>
            <div class="info_block">
                <div class="info_icon">
                    <img src="../../assets/FooterSection/github.png" class="w-100">
                </div>
                <p>Git-Hub @YUNI0107</p>
            </div>
        </div>
        <div class="bottom_text">
            <p>Icon made by Freepik from www.flaticon.com   Photos contribute from Unsplash</p>
        </div>
    </div>
</div>