<div class="project_box">
    <div class="cd">
        <img class="w-100" src="../../assets/common/cd.png" alt="cd">
    </div>
    <router-link :to="`/project_intro/${item.id}`">
    <div class="top">
        <img v-if="item" :src="require(`../../assets/project/${item.short_name}/small.jpg`)" alt="project_img">
    </div>
        <div class="bottom">
            <h1>{{ $t(`all_projects.${item.short_name}.name`)  }}</h1>
            <div class="tool_list">
                <div class="tool" v-for="skill in item.skill" :key="skill">{{ skill }}</div>
            </div>
            <p class="info_text">
                {{ info_text }}
            </p>
        </div>
    </router-link>
</div>