@import "../../assets/scss/main.scss";
.project_intro{
    position: relative;
    z-index: 2000;
    .top_nav{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        box-shadow: 2px 2px 5px rgb(29, 29, 29, 0.1);
        a{
            color: black;
            text-decoration: none;
            p{
                font-size: 16px;
            }
            span{
                margin-right: 10px;
            }
            &:hover{
                opacity: .7;
            }
        }
        a.dark{
            color: #fff;
        }
        .toggle_btn{
            height: 60px;
            display: flex;
            align-items: center;
            border-radius: 200px;
            box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.096);
            .btn{
                position: relative;
                z-index: 1;
                box-shadow: 0px 0px 5px rgba(94, 94, 94, 0.1);
                height: 100%;
                background-color: $back_gray;
                padding: 15px 15px;
                cursor: pointer;
                .icon{
                    width: 25px;
                }
                &:hover{
                    background-color: rgb(238, 238, 238);
                }
            }
            .btn.minus{
                border-radius: 50% 0 0 50%;
                border: solid 1px #d0d0d0;
            }
            .btn.plus{
                border-radius: 0 50% 50% 0;
                border: solid 1px #d0d0d0;
            }
            .middle{
                position: relative;
                z-index: 2;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;
                text-align: center;
                background-color: $back_gray;
                border-top: solid 1px #d0d0d0;
                border-bottom: solid 1px #d0d0d0;
                h2{
                    font-size: 30px;
                    margin-top: 5px;
                    letter-spacing: 2px;
                }
                p{
                    color: $gray;
                    margin-top: -5px;
                    text-transform: uppercase;
                }
            }
        }
    }
}



@media(max-width: 576px){
    .project_intro{
        .top_nav{
            height: 60px;
            padding: 0 15px;
            a{
                p{
                    font-size: 14px;
                }
            }
            .toggle_btn{
                position: fixed;
                bottom: 10px;
                right: 10px;
                height: 65px;
                .btn{
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    .icon{
                        width: 25px;
                    }
                }
                .middle{
                    h2{
                        font-size: 30px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}