<div class="about">
    <transition name="fade">     
        <FamModal v-if="fam_modal" @toggleModal="toggleModal"/>
    </transition>
    <div class="about_content">
        <div class="left">
            <div class="left_content">
                <div class="pic">
                    <div class="pic_people">
                        <img class="w-100 h-100" src="../../assets/About/people.jpg" alt="people">
                        <div class="cd">
                            <img class="w-100" src="../../assets/common/cd.png" alt="CD">
                        </div>
                    </div>
                    <div class="name_content">
                        <h1>ABOUT ME</h1>
                        <div class="name">
                            <h2 class="ch_name">周芸卉</h2>
                            <h2 class="en_name">Chou Yun-Huei</h2>
                        </div>
                        <p class="birthday">1997 / 01 / 07</p>
                    </div>
                </div>
                <div class="top_intro">
                    <div class="middle_picture">
                        <AboutSwiper />
                    </div>
                </div>
                <div class="bottom_intro">
                    <h2 class="about_title">PERSONALITY</h2>
                    <div class="me_blocks">
                        <p class="me_block" v-for="item in personality_list" :key="item">{{item}}</p>
                    </div>
                    <div class="detail">
                        <p>{{ $t("about.text_1") }}😊👋
                            <br>{{ $t("about.text_2") }}<br><br>{{ $t("about.text_3") }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="top_skill_intro">
                <div class="hashtag">
                    <span class="hash">#</span>
                    <div class="text">
                        <h2>FrontEnd</h2>
                        <span v-if="en_show">前端開發</span>
                    </div>
                </div>
                <div class="skill_detail">
                    <p>{{ $t("about.web_text_1") }}</p>
                </div>
                <div class="skill_btns">
                    <LittleBtn v-for="item in skill_list" :item="item" :key="item.name" />
                    <div class="fam_link" @click="toggleModal(true)">
                        <div class="icon">
                            <img src="../../assets/About/fam.png" class="w-100">
                        </div>
                        <p>{{ $t("about.fam") }}</p>
                    </div>
                </div>
                <div class="skill_now">
                    <p>{{ $t("about.web_text_2_1") }}<span>AJAX</span>{{ $t("about.web_text_2_2") }}<span>API</span>{{ $t("about.web_text_2_3") }}<span>AXIOS</span>{{ $t("about.web_text_2_4") }}</p>
                </div>
                <div class="skill_future">
                    <h2>NEXT STEP</h2>
                    <p>{{ $t("about.web_future_1") }}<span>Vue3</span>{{ $t("about.web_future_2") }}<span>Node.js</span>{{ $t("about.web_future_3") }}</p>
                </div>
                <div class="hashtag hashtag_2">
                    <span class="hash">#</span>
                    <div class="text">
                        <h2>Other Competencies</h2>
                        <span v-if="en_show">其他技能</span>
                    </div>
                </div>
                <div class="skill_btns">
                    <LittleBtn v-for="item in com_list" :item="item" :key="item.name" />
                </div>
            </div>
            <div class="middle_line"></div>
            <div class="bottom">
                <div class="edu_section">
                    <h2 class="about_title">EDUCATION</h2>
                    <div class="school">
                        <div class="date">
                            <span>2019</span>
                            <div class="line"></div>
                            <span>2021</span>
                            <h4 class="degree">{{ $t("about.1_edu_degree") }}</h4>
                        </div>
                        <div class="exe_info">
                            <p>{{ $t("about.1_edu_school") }}<span>{{ $t("about.1_edu_master") }}</span> </p>
                        </div>
                    </div>
                    <div class="school">
                        <div class="date">
                            <span>2015</span>
                            <div class="line"></div>
                            <span>2019</span>
                            <h4 class="degree">{{ $t("about.2_edu_degree") }}</h4>
                        </div>
                        <div class="exe_info">
                            <p>{{ $t("about.2_edu_school") }} <span>{{ $t("about.2_edu_master") }}</span> </p>
                        </div>
                    </div>
                    <div class="toeic">
                        <div class="icon_img">
                            <img src="../../assets/About/toeic.png" class="w-100">
                        </div>
                        <p>2021 English / TOEIC Reading & Listening <span>900</span> </p>
                    </div>
                </div>
                <div class="exe_section">
                    <h2 class="about_title">EXPERIENCE</h2>
                    <div class="each_exe">
                        <div class="date">
                            <span>2015</span>
                            <div class="line"></div>
                            <span>2019</span>
                        </div>
                        <p class="exe_name"><span>{{ $t("about.1_exe_title") }}</span>{{ $t("about.1_exe_position") }}</p>
                        <p class="info">{{ $t("about.1_exe_info") }} </p>
                    </div>
                    <div class="each_exe">
                        <div class="date">
                            <span>2020</span>
                            <span>October</span>
                        </div>
                        <p class="exe_name"><span>{{ $t("about.2_exe_title") }}</span>{{ $t("about.2_exe_position") }}</p>
                        <p class="info">{{ $t("about.2_exe_info") }}</p>
                    </div>
                    <div class="each_exe">
                        <div class="date">
                            <span>2020</span>
                            <span>October</span>
                        </div>
                        <div class="each_block">
                            <div class="icon">
                                <img src="../../assets/About/wild.png" class="w-100">
                            </div>
                            <div class="each_text">
                                <p class="exe_name"><span>{{ $t("about.3_exe_title") }}</span>{{ $t("about.3_exe_position") }}</p>
                                <p class="info"><a href="https://dcaward-vgw.org.tw/tw/online-exhibition/awards-list/17900" target="_blank">{{ $t("about.3_exe_info") }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="each_exe">
                        <div class="date">
                            <span>2019</span>
                            <span>October</span>
                        </div>
                        <div class="each_block">
                            <div class="icon">
                                <img src="../../assets/About/young.jpeg" class="w-100">
                            </div>
                            <div class="each_text">
                                <p class="exe_name"><span>{{ $t("about.4_exe_title") }}</span>{{ $t("about.4_exe_position") }}</p>
                                <p class="info"><a href="https://www.goldenpin.org.tw/project/%E4%BE%86%E9%BB%9E%E7%86%B1%E7%82%92/" target="_blank">{{ $t("about.4_exe_info") }}</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="each_exe">
                        <div class="date">
                            <span>2017</span>
                            <div class="line"></div>
                            <span>2018</span>
                        </div>
                        <p class="exe_name"><span>{{ $t("about.5_exe_title") }}</span>{{ $t("about.5_exe_position") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="3D_people">
        <img src="" alt="">
    </div>
    <FooterSection />
</div>