@import "../../assets/scss/main.scss";
.little_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    background-color: $back_gray;
    border-radius: 30px;
    border: solid 1px rgb(216, 216, 216, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), inset -2px -2px 5px rgba(0, 0, 0, 0.05), 2px 2px 5px #fff;
    margin-right: 10px;
    margin-bottom: 15px;
    .icon{
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }
}
