<div class="swiper_section">
  <div class="swiper-container mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="item in project">
        <HomeProjectBox :item="item"/>
      </div>
    </div>
    <div class="button_section">
      <div class="swiper-button-prev">
        <button>
          <div class="icon">
            <img class="w-100" src="../../assets/Home/left.png" alt="left">
          </div>
        </button>
      </div>
      <div class="swiper-button-next">
        <button>
          <div class="icon">
            <img class="w-100" src="../../assets/Home/right.png" alt="right">
          </div>
        </button>
      </div>
    </div>
  </div>
</div>