<div class="home">
    <div class="banner_section">
        <div class="left">
            <div class="cd_section">

            </div>
            <div class="back">

            </div>
        </div>
        <div class="right">
            <div class="big_title">
                <h1>YUNI ‘S</h1>
                <h1>PORTFOLIO WAREHOUSE</h1>
                <p><span>2021.</span>Chou Yun-Huei </p>
            </div>
            <div class="hashtag_content">
                <div class="hashtag">
                    <span class="hash">#</span>
                    <h2>FrontEnd</h2>
                    <span>前端開發</span>
                </div>
                <div class="hashtag">
                    <span class="hash">#</span>
                    <h2>Microinteractions</h2>
                    <span>微互動</span>
                </div>
            </div>
            <div class="intro_content">
                <div class="title">
                    <h4>Introduction</h4>
                    <button>More About Me</button>
                </div>
                <div class="intro_text">
                    您好，我是YUNI。專注於前端開發，喜歡研究各式的網頁效果，擁有很高的自我學習力與規劃能力，目前沈迷於接觸趨勢的發展，希望可以將能力應用在實務中。目前是Junior的開發者，作品集放置了許多近期製作的Side Project與各專案所應用的技術！
                </div>
            </div>
        </div>
    </div>
</div>