<div class="nav">
    <div class="fix_part">
        <div class="left">
            <div class="page_info">
                <div class="nav_icon">
                    <img class="w-100" src="../../assets/Nav/home_icon.png" alt="icon">
                </div>
                <p>Home</p>
                <div class="color">
                    <div class="color_block"></div>
                    <div class="color_block"></div>
                </div>
            </div>
            <div class="toggle">
                <div class="toggle_icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <p>Menu</p>
            </div>
            <div class="name">
                <p>Chou Yun-Huei</p>
            </div>
        </div>
        <div class="top">
            <div class="top_content">
                <div class="links">
                    <div class="link_block">
                        <div class="link_img">
                            <img class="w-100" src="../../assets/Nav/mail.png" alt="mail">
                        </div>
                        <p>Mail</p>
                    </div>
                    <div class="link_block">
                        <div class="link_img">
                            <img class="w-100" src="../../assets/Nav/github.png" alt="github">
                        </div>
                        <p>Git-Hub</p>
                    </div>
                </div>
                <div class="lang">
                    <p class="en choose">English</p>
                    <div class="line"></div>
                    <p class="ch">中文</p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle_part">
    </div>
</div>